.hero-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 450px;
}

.blue-bar {
  position: absolute;
  left: 0;
  top: 23px;
  width: 5px;
  height: 88px;
  background-color: #2d8fff;
}

.description {
  /* flex-basis: 10%; */
  position: relative;
  width: 500px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description p {
  padding-left: 20px;
  color: #fff;
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.rounded-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #2d8fff;
  color: #fff;
  font-size: 18px;
  border: none;
  font-weight: 600;
  text-decoration: none;
}

.rounded-button:nth-child(2) {
  background: linear-gradient(45deg, #ec740b, #fcac04);

}

.heading {
  font-size: 69px;
  font-weight: 900;
  background: linear-gradient(
    45deg,
    #2d8fff 30%,
    #2d5eff 45%,
    #2d5eff 55%,
    #2d8fff 70%
  );
  color: transparent;
  background-clip: text;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  width: 480px;

  margin-top: 0;
  margin-bottom: 25px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
