* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    max-height: 65px;
    border: 1px solid rgb(233, 228, 228);
}

.logo {
}

.logo_img {
    height: 50px;
}

.nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar a {
    text-decoration: none;
    background: transparent;
    font-size: 90%;
    font-weight: 600;
    color: #2F3D5E;
    
}

.navbar a.start {
    background-color: #2d5eff;
    color: #f0f5fa;
    border-radius: 20px;
    padding: 6px 24px;
    opacity: 1;
}

.navbar a.start:hover{
    background-color: #5c82ff;
    transition: all .3s;
}